.footer{
    background: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
    user-select: none;
    margin-top: 1em;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li a{
    margin: 0 1em;
    cursor: pointer;
    transition: .5s;
    color: white;
}


.social_list li a:hover{
    color: #8a1607;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}


.copy_right{
    margin-top: 6em;
}

.copy_right span{
    font-weight: bold;
    color: #8a1607;
}

.copy_right {
    font-weight: bold;
    color: #ffffff;
}







